{% extends 'projects/base.html' %}

{% load static %}

{% block content %}

<div class="container">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css"
    >
    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'projects:all_projects' %}" type="button">projects</a>
        </div>
        <div class="col-md-4">
            <div class="card-mb-2">blog</div>
        </div>
        <div class="col-md-4">
            <a href="https://github.com/jlee1028" target="_blank" class="card-mb-2">github</a>
        </div>
    </div>
</div>

{% endblock %}
